
<div class="container">
  <!-- <app-user-details> </app-user-details>
  <app-user-job> </app-user-job> -->

  <a routerLink="/user"   >SignUP </a>  <span>  </span>
  <a routerLink="/user-reg">Registration</a>
  <a routerLink="/generate-page">Generate Page</a>
  <a routerLink="/checkapproval">Check Approval</a>
  <a routerLink="/wheebox">Wheebox</a>
  
  <router-outlet> </router-outlet>
  <h6>  here is canvas  </h6>
  <canvas id="canvas" width="320" height="240"></canvas>
  <h6>  here is canvas  </h6>
</div>
