
<div class="container">
  <!-- <app-user-details> </app-user-details>
  <app-user-job> </app-user-job> -->

  <a routerLink="/user"   >SignUP </a>  <span>  </span>
  <a routerLink="/user-reg">Registration</a>
  <a routerLink="/generate-page">Generate Page</a>
  <a routerLink="/checkapproval">Check Approval</a>
  <a routerLink="/train-status">Train-Status</a>
  <a routerLink="/get-report">GetReport</a>
  <a routerLink="/report-score">ReportScore</a>
  <a routerLink="/wheebox">wheebox</a>
  <router-outlet> </router-outlet>
  
</div>
