  
<div style="display:none">
    <canvas id="canvas" width="320" height="240"></canvas>
    </div>  
  <input type="hidden" name="chatid"   id="chatid" value="">
  <div id="chatURL" style="display: none">wss://akschat.wheebox.com/</div>  
  <input type="hidden" name="key_sno" id="key_sno" value="3088993"> 
  
     <input type="hidden" [(ngModel)]="udetail.student_name"  name="fname" id="fname" value="Amardeep Demo"> 
            
  <div class="footerchat" id="chatBoxMainDiv" style=""> 
       
  <div id="divChat">          
  <div id="nmag"></div>  		                          
          <div id="chatHeader" style="cursor: pointer;border-radius: 5px 5px 0px 0px; ">Chat Box (Amardeep Demo) <div id="MPicone" style="float:right">+</div> </div>
            
            
          <div id="showchat" style="display: none">                     
          <div id="chat-area"><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="right"><tbody><tr><td align="right"><img src="../../../assets/icon_admin.png" style="width:30px"></td><td style="background:#00b0f0;padding:5px !important;border-radius: 7px;color:white;"><table style="width:100%"><tbody><tr><td><b>proctor1</b></td><td align="right"><b>13:11:00</b></td></tr> <tr><td><div>Announcement: hello2345</div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>13:23:43</b></td></tr> <tr><td><div>11
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>17:40:33</b></td></tr> <tr><td><div>11
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>18:17:48</b></td></tr> <tr><td><div>1
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>16:31:10</b></td></tr> <tr><td><div>Hi
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>16:11:56</b></td></tr> <tr><td><div>Hi
  
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="right"><tbody><tr><td align="right"><img src="../../../assets/icon_admin.png" style="width:30px"></td><td style="background:#00b0f0;padding:5px !important;border-radius: 7px;color:white;"><table style="width:100%"><tbody><tr><td><b>proctor1</b></td><td align="right"><b>16:16:49</b></td></tr> <tr><td><div>joijoi
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>14:33:10</b></td></tr> <tr><td><div>Demo msg
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>14:51:53</b></td></tr> <tr><td><div>hi
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>15:43:44</b></td></tr> <tr><td><div>f
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>14:42:56</b></td></tr> <tr><td><div>hii
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="../../../assets/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>17:57:39</b></td></tr> <tr><td><div>ttthh
  </div></td></tr></tbody></table> </td></tr></tbody></table></div>
  <form id="send-message-area" style="line-height:1.30;"> 
  <textarea id="msg" style="width: 100%;height:60px" placeholder="Message Type and Enter To Send"></textarea>
  </form>            
  
  </div>       
   
  </div>
  </div>
  
  <div id="WBcameraCercleBox" >
   
      <div id="streaming-camera-circle" class="icon">
         <!--  <div id="chat-overlay"></div> -->  
  <div class="icon-3"> 
    <div class="camera-icon">
       <div class="camera-circle"></div>  
       <div class="camera-btn"></div>
    </div></div>
           
      </div>        
        
     
    <div class="streaming-box">   
      <div class="streaming-box-header">          
        <span class="streaming-box-toggle" style="width:270px;" align="right"><i class="material-icons" style="font-weight: bold;">-</i></span>
      </div>     
      <div class="streaming-box-body">
        <div class="streaming-box-overlay">   
        </div> 
        <div class="streaming-logs">
                    
           <div class="video-form-container">    
            <div style="text-decoration:none;" id="videos-container"><div class="media-container" id="Lzo56W4wju0usB4A0hvmMWnki7AHH88rGpEZ"><div class="media-controls" style="margin-left: -2px; opacity: 1;"><div class="control zoom-in"></div></div><div class="volume-control" style="margin-left: -2px; margin-top: -2px; opacity: 1;"></div><div class="media-box">
              <video id="video" autoplay="" playsinline="" muted="" style="max-height: 657px;"></video></div></div></div>    
            </div>  
     
        </div>
      </div>  
      <!--  Saroj Start -->
      <div class="streaming-box-footer" id="subjective_doc_upload_using_webcam" style="display: none;">        
        <button type="button" class="btn btn-blue" (click)="takeSubjectiveDocumentPhoto_();">Take Photo</button>
      </div> 
  <!--  Saroj End --> 
    </div>
    </div>
     
      
   
        <label style="display:none"><input type="checkbox" id="record-entire-conference"> Record Entire Conference In The Browser?</label>
        <span id="recording-status" style="display: none;"></span>
        <button id="btn-stop-recording" style="display: none;">Stop Recording</button>
         
        <div style="display:none"> 
        <input type="text" id="room-id"   [(ngModel)]="udetail.attemptId"     autocorrect="off" autocapitalize="off" size="20">
        <button  (click)="openClick();" id="open-room">Open Room</button>
        <button  (click)="openClick();" id="open-room1">Open Room</button>
        </div>
           
        <button id="join-room" style="display:none">Join Room</button>
        <button id="open-or-join-room" style="display:none">Auto Open Or Join Room</button> 
               
      
      <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"><h2>Unique URL for your room:</h2><br>Hash URL: <a href="https://wheebox.com/WET-2/jsp/runningTest/questionLoad/paas_plugin.jsp#3088993" target="_blank">#3088993</a><br>QueryString URL: <a href="https://wheebox.com/WET-2/jsp/runningTest/questionLoad/paas_plugin.jsp?roomid=3088993" target="_blank">?roomid=3088993</a></div>
      <div id="metervalue" style="display: none;"></div>