<div class="container">

    <form id="userreg" #getRegForm="ngForm" (ngSubmit)="StudentRegistration(getRegForm.value)">

        <div class="header">
        
            <h3>Student Registration</h3>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            
            <input type="event_id1" placeholder="event_id"  ngModel name="event_id"/>
            <input type="attemptnumber" placeholder="attemptnumber"  ngModel name="attemptnumber"/>
            <input type="student_name1" placeholder="student_name"  ngModel name="student_name"/>
            <input type="student_unique_id1" placeholder="student_unique_id"  ngModel name="student_unique_id"/>
            
            
            <button  style="margin-top:1em;" class="button" type="submit">Register</button> 
            
        
        </div>

    </form>

</div>
​